<div id="page-content">
  <h2 id="current-username">Hello {{ username }}</h2>

  <div>
    <h2>Choose a recipient</h2>

    <form hx-post="/choose-recipient" hx-swap="none">
      {% if error %}
      <div>{{ error }}</div>
      {% endif %}

      <input
        type="text"
        name="recipient"
        id="recipient"
        placeholder="Choose a connected recipient"
      />
      <input
        type="hidden"
        name="encoded_username"
        value="{{encoded_username}}"
      />
      <input type="submit" value="Send" />
    </form>
  </div>
</div>
