<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Cringe Chat</title>

        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
    </head>
    <body>
        <main class="container">
            <header>
                <h1>Cringe Chat</h1>
            </header>

            {% block content %}{% endblock %}
        </main>

        {% block scripts %}{% endblock %}
    </body>
</html>
