{% extends 'base.html' %}

{% block content %}
<div>
    <h3>Connected users: <span data-role="connected-users"></span></h3>

    <div id="page-content">
        <h2>Choose a recipient</h2>
        <form id="choose-recipient-form">
            <div id="choose-recipient-form-error">
            </div>

            <input type="text" name="recipient" id="recipient" placeholder="Choose a connected recipient" />
            <input type="submit" value="Send" />
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<template id="message-template">
    <article>
        <em data-role="time"></em>
        <div data-role="message"></div>
    </article>
</template>

<template id="chat-container-template">
    <div>
        <h2>Hello {{ username }}</h2>
        <h3>You are talking to <span data-role="recipient"></span></h3>
        <div id="messages"></div>
        <form id="chat-form">
            <input type="text" name="message" id="message" placeholder="Message" />
            <input type="submit" value="Send" />
        </form>
    </div>
</template>

<script type="module">

const websocket = new WebSocket(`ws://localhost:8000/ws/${encodeURIComponent("{{encoded_username}}")}`);

const chooseRecipientForm = document.getElementById('choose-recipient-form');
chooseRecipientForm.addEventListener('submit', (event) => {
    event.preventDefault();
    const recipient = event.target.recipient.value;

    websocket.send(JSON.stringify({
        type: 'choose_recipient',
        value: recipient
    }));

    event.target.reset();
})

const displayChatForm = (recipient) => {
    const chatContainerTemplate = document.getElementById('chat-container-template');
    const clone = chatContainerTemplate.content.cloneNode(true);

    clone.querySelector('[data-role="recipient"]').textContent = recipient;

    const pageContent = document.getElementById('page-content');
    pageContent.innerHTML = '';
    pageContent.appendChild(clone);

    const chatForm = document.getElementById('chat-form');
    chatForm.addEventListener('submit', (event) => {
        event.preventDefault();
        const message = event.target.message.value;

        websocket.send(JSON.stringify({
            type: 'send_chat_message',
            value: message
        }));

        displayOwnMessage(message);

        event.target.reset();
    })

    const messagesContainer = document.getElementById('messages');

    const displayOwnMessage = (message) => {
        const template = document.getElementById('message-template');
        const clone = template.content.cloneNode(true);
        const article = clone.querySelector('article');
        article.style.backgroundColor = '#bfdbfe';
        const timeContainer = clone.querySelector('[data-role="time"]');
        timeContainer.textContent = new Date().toLocaleTimeString();
        const messageContainer = clone.querySelector('[data-role="message"]');
        messageContainer.textContent = message;

        messagesContainer.appendChild(clone);
    }

    const displayOtherMessage = (message) => {
        const template = document.getElementById('message-template');
        const clone = template.content.cloneNode(true);
        const article = clone.querySelector('article');
        const timeContainer = clone.querySelector('[data-role="time"]');
        timeContainer.textContent = new Date().toLocaleTimeString();
        const messageContainer = clone.querySelector('[data-role="message"]');
        messageContainer.textContent = message;

        messagesContainer.appendChild(clone);
    }


    websocket.onmessage = (event) => {
        const data = JSON.parse(event.data);

        if (data['type'] === 'error') {
            const errorMessage = data['value'];

            websocket.close();

            window.location.href = `/?error=${encodeURIComponent(errorMessage)}`;

            return;
        }

        if (data['type'] === 'connected_users') {
            const connectedUsersContainer = document.querySelector('[data-role="connected-users"]');
            connectedUsersContainer.textContent = data['value'];

            return;
        }

        if (data['type'] === 'recipient_not_connected') {
            const errorContainer = document.getElementById('choose-recipient-form-error');
            errorContainer.textContent = data['value'];

            return;
        }

        if (data['type'] === 'chat_message') {
            displayOtherMessage(data['value']);

            return;
        }

        console.log(event.data);
    }
}

websocket.onmessage = (event) => {
    const data = JSON.parse(event.data);

    if (data['type'] === 'error') {
        const errorMessage = data['value'];

        websocket.close();

        window.location.href = `/?error=${encodeURIComponent(errorMessage)}`;

        return;
    }

    if (data['type'] === 'connected_users') {
        const connectedUsersContainer = document.querySelector('[data-role="connected-users"]');
        connectedUsersContainer.textContent = data['value'];

        return;
    }

    if (data['type'] === 'recipient_chosen') {
        displayChatForm(data['value']);

        return;
    }

    if (data['type'] === 'recipient_not_connected') {
        const errorContainer = document.getElementById('choose-recipient-form-error');
        errorContainer.textContent = data['value'];

        return;
    }

    console.log(event.data);
}
</script>
{% endblock %}
